<!DOCTYPE html>
<html>
<head>
	<title>Nelson Aggregates - Zoning</title>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/home.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css">
	
	<link rel="icon" type="image/png" href="{{ STATIC_URL }}img/favicons/AppIcon29x29@2x.png">
	<link href="{{ STATIC_URL }}img/favicons/AppIcon29x29.png" rel="apple-touch-icon" sizes="29x29" />
	<link href="{{ STATIC_URL }}img/favicons/AppIcon29x29@2x.png" rel="apple-touch-icon" sizes="58x58" />
	<link href="{{ STATIC_URL }}img/favicons/AppIcon40x40.png" rel="apple-touch-icon" sizes="40x40" />
	<link href="{{ STATIC_URL }}img/favicons/AppIcon40x40@2x.png" rel="apple-touch-icon" sizes="80x80" />
	<link href="{{ STATIC_URL }}img/favicons/AppIcon50x50.png" rel="apple-touch-icon" sizes="50x50" />
	<link href="{{ STATIC_URL }}img/favicons/AppIcon50x50@2x.png" rel="apple-touch-icon" sizes="100x100" />
	<link href="{{ STATIC_URL }}img/favicons/AppIcon57x57.png" rel="apple-touch-icon" sizes="57x57" />
	<link href="{{ STATIC_URL }}img/favicons/AppIcon57x57@2x.png" rel="apple-touch-icon" sizes="114x114" />
	<link href="{{ STATIC_URL }}img/favicons/AppIcon60x60.png" rel="apple-touch-icon" sizes="60x60" />
	<link href="{{ STATIC_URL }}img/favicons/AppIcon60x60@2x.png" rel="apple-touch-icon" sizes="120x120" />
	<link href="{{ STATIC_URL }}img/favicons/AppIcon72x72.png" rel="apple-touch-icon" sizes="72x72" />
	<link href="{{ STATIC_URL }}img/favicons/AppIcon72x72@2x.png" rel="apple-touch-icon" sizes="144x144" />
	<link href="{{ STATIC_URL }}img/favicons/AppIcon76x76.png" rel="apple-touch-icon" sizes="76x76" />
	<link href="{{ STATIC_URL }}img/favicons/AppIcon76x76@2x.png" rel="apple-touch-icon" sizes="152x152" />

	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
</head>
<body>
	{% include 'navbar.html' %}

	<table class="table table-striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Username</th>
				<th>Date</th>
				<th>Time</th>
			</tr>
		</thead>
		<tbody>
			{% for row in info %}
				<tr>
					<td>{{ row.id }}</td>
					<td>{{ row.user.username }}</td>
					<td>{{ row.date|date:"M d, Y" }}</td>
					<td>{{ row.date|date:"P" }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</body>
</html>