<!DOCTYPE html>
<html>
<head>
	<title>Nelson Aggregates - Zoning</title>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

	<link rel="icon" type="image/png" href="{{ STATIC_URL }}img/favicons/AppIcon29x29@2x.png">
	<link href="{{ STATIC_URL }}img/favicons/AppIcon29x29.png" rel="apple-touch-icon" sizes="29x29" />
	<link href="{{ STATIC_URL }}img/favicons/AppIcon29x29@2x.png" rel="apple-touch-icon" sizes="58x58" />
	<link href="{{ STATIC_URL }}img/favicons/AppIcon40x40.png" rel="apple-touch-icon" sizes="40x40" />
	<link href="{{ STATIC_URL }}img/favicons/AppIcon40x40@2x.png" rel="apple-touch-icon" sizes="80x80" />
	<link href="{{ STATIC_URL }}img/favicons/AppIcon50x50.png" rel="apple-touch-icon" sizes="50x50" />
	<link href="{{ STATIC_URL }}img/favicons/AppIcon50x50@2x.png" rel="apple-touch-icon" sizes="100x100" />
	<link href="{{ STATIC_URL }}img/favicons/AppIcon57x57.png" rel="apple-touch-icon" sizes="57x57" />
	<link href="{{ STATIC_URL }}img/favicons/AppIcon57x57@2x.png" rel="apple-touch-icon" sizes="114x114" />
	<link href="{{ STATIC_URL }}img/favicons/AppIcon60x60.png" rel="apple-touch-icon" sizes="60x60" />
	<link href="{{ STATIC_URL }}img/favicons/AppIcon60x60@2x.png" rel="apple-touch-icon" sizes="120x120" />
	<link href="{{ STATIC_URL }}img/favicons/AppIcon72x72.png" rel="apple-touch-icon" sizes="72x72" />
	<link href="{{ STATIC_URL }}img/favicons/AppIcon72x72@2x.png" rel="apple-touch-icon" sizes="144x144" />
	<link href="{{ STATIC_URL }}img/favicons/AppIcon76x76.png" rel="apple-touch-icon" sizes="76x76" />
	<link href="{{ STATIC_URL }}img/favicons/AppIcon76x76@2x.png" rel="apple-touch-icon" sizes="152x152" />

	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/login.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css">
	
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
</head>
<body>
	<div class="login_box">
		<div class="logo">
			<img src="{{ STATIC_URL }}img/nelson_logo.png">
		</div>
		<form method="POST" action="" role="form">
			{% csrf_token %}
			{% if forgot_password %}
				<b>Please enter your email address</b>
				<div class="form-group">
				  <input type="text" placeholder="Email Address" name="email" class="form-control">
				</div>
				{% if answer %}
					<p class="text-info form_error">{{ answer }}</p>
				{% endif %}
				<a href="/">Back to login</a>
				<button type="submit" class="btn btn-primary right">Send</button>
			{% else %}
				<b>Please sign in</b>
				<div class="form-group {% if error %}has-error{% endif %}">
				  <input type="text" placeholder="Username" name="username" class="form-control">
				</div>
				<div class="form-group {% if error %}has-error{% endif %}">
				  <input type="password" placeholder="Password" name="password" class="form-control">
				</div>
				{% if error %}
		          <p class="text-danger form_error">{{ error }}</p>
		        {% endif %}
		        <a href="/forgot_password/">Forgot Password?</a>
				<button type="submit" class="btn btn-primary right">Sign in</button>
			{% endif %}
		</form>
	</div>
</body>
</html>
